<h1 class="text-muted">Employees List</h1>
<table class="table table-hover">
  <thead>
    <th>Name</th>
    <th>Position</th>
    <th>Employee Code</th>
    <th>Mobile Number</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let emp of list" class="text-dark">
      <td (click)="onEdit(emp)">{{ emp.fullName }}</td>
      <td (click)="onEdit(emp)">{{ emp.position }}</td>
      <td (click)="onEdit(emp)">{{ emp.empCode }}</td>
      <td (click)="onEdit(emp)">{{ emp.mobile }}</td>
      <td><a class="btn text-danger" (confirm)="onDelete(emp.id)" [swal]="deleted"><i class="fa fa-trash"></i></a></td>
    </tr>
  </tbody>
</table>


<swal 
  #deleted
  type="warning"
  showCancelButton= "true"
  confirmButtonColor= '#3085d6'
  cancelButtonColor= '#d33'
  confirmButtonText= 'Yes, delete it!'
  title="Are you sure to delete this employee record?"
  (confirm)="onDelete(emp.id)"
>